* {
    margin: 0;
    padding: 0;
    
}


body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8C5E35; 
    padding: 45px;
    display: flex;
    justify-content: space-between;
}

.search-box {
    margin-right: 20px;
    
}


.search-input {
    padding: 6px;
    border: none;
    width: 180px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.line {
    width: 80%;
    position: relative;
    top: 50px;
    display: block;
    
    
}   

.icons {
    display: flex;
    justify-content: space-between;
}

.icons a{
    text-decoration: none;
    color: white;
    border: 2px black;
    position: relative;
    margin: 0 70px;   
    font-size: 40px;
    font-family: 'Just Me Again Down Here', cursive;
}


.content {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.info {
    text-align: center;
    margin: 20px;
}

.title {
    margin-top: 60px;
    margin-bottom: 50px;
}


.icons2 {
    display: flex;
    justify-content: space-between;
    
}

.icons2 a{
    text-decoration: none;
    color: black;
    border: 2px black;
    position: relative;
    margin: 0 10%;   
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Just Me Again Down Here', cursive;
}



.image-gallery  {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* Espaço entre as imagens */
    top: 30px;
    padding: 40px;
}

.image-gallery img {

    max-width: 30%;
    height: auto;
    width: 50%;

}